.jp-Cell.revealPlugin {
  background-color: #ddeeff !important;
}

.jp-Cell.revealPlugin > .jp-Cell-footer {
  height: auto;
}

.jp-Cell.revealPlugin-button {
  margin-top: 0.5em;
}

.jp-Cell.revealPlugin-hidden {
  display: none !important;
}
